<div class="container">
    <img src="assets/images/h6.jpg" alt="Watermark Image" class="watermark">
</div>
<br>
    <br>
    <br>
    <br>
<h1 >Team Members</h1>
<hr>
<P style="font-size: 30px">D.Pushkar  - 212U1A0525</P>
<P style="font-size: 30px">K.Surya Teja  - 212U1A0538</P>
<P style="font-size: 30px">B.vinay Kumar  - 212U1A0513 </P>
<h1 style="font-size: 30px">Under the guidance of </h1>
<h1 style="font-size: 30px">Mr.K.Bala Krishna.  Assistant Professor(M.Tech) </h1>
<button class="previous-button" routerLink="/benefits">Previous</button>
<button class="next-button" routerLink="/home">Next</button>

