.next-button,.previous-button{
background-color: green;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
border-radius: 20px;

}
.next-button:hover,.previous-button:hover{
    background-color: black;
}
