<div class="container">
    <img src="assets/images/h4.jpg" alt="Watermark Image" class="watermark">
</div>

<body style="background-color: white;">
    <br>
    <br>
    <br>
    <br>
    <h1>Problems facing</h1>
    <hr>

<p style="font-size: 25px"> Weed Competition: Weeds compete with horticultural crops for resources such as water, nutrients, and sunlight. If not controlled, weeds can hinder crop growth and productivity. Weed management strategies and techniques need to be employed to minimize their impact on crops.</p>

<p style="font-size: 25px"> Nutrient Deficiencies and Imbalances: Imbalances or deficiencies in essential nutrients can result in poor crop growth, reduced yields, and nutrient-related disorders. Understanding the nutrient requirements of specific crops and implementing appropriate fertilization practices are necessary to ensure optimal nutrition.</p>

<p style="font-size: 25px">Pest and Disease Infestations: Insects, mites, fungi, bacteria, viruses, and other pests and diseases can attack horticultural crops, leading to reduced yields, quality deterioration, and even crop failure. Identifying and managing these pests and diseases effectively is crucial to protect crops.</p>

<p style="font-size: 25px">Inefficient Pollination: Proper pollination is crucial for fruit set and yield in many horticultural crops. Factors such as a lack of pollinators (bees, butterflies, etc.), adverse weather conditions during flowering, or inadequate distribution of pollen can lead to poor pollination and reduced fruit development.</p>

<p style="font-size: 25px">Genetic Factors: The choice of crop varieties or cultivars can influence crop growth and yield. Inappropriate selection of varieties that are not well-suited to the local growing conditions, pests, or diseases prevalent in the region can result in poor performance and lower yields.
</p>

</body>

<button class="previous-button" routerLink="/protocols">Previous</button>
<button class="next-button" routerLink="/modernmethods">Next</button>