<div class="container">
    <img src="assets/images/h3.jpg" alt="Watermark Image" class="watermark">
</div>


<body style="background-color: white">
    <br>
    <br>
    <br>
    <br>
<h1 >Protocols of Horticulture</h1>
<hr>
<h3 style="font-size: 30px"> 1.Site Selection</h3>
<p style="font-size: 25px"> Choose a suitable location for your horticulture project based on factors such as sunlight exposure, soil quality, drainage, and proximity to water sources.
</p>
<h3 style="font-size: 30px">2.Soil Preparation</h3>
<p style="font-size: 25px"> Assess the soil type and condition, and prepare it for planting by removing weeds, rocks, and debris. Improve soil fertility and structure by adding organic matter, such as compost or well-rotted manure.</p>
<h3 style="font-size: 30px">3.Plant Selection</h3>
<p style="font-size: 25px"> Determine the types of plants you want to grow based on your project goals, climate suitability, and market demand. Consider factors like growth habit, disease resistance, and yield potential.</p>
<h3 style="font-size: 30px">4.Propagation</h3>
<p style="font-size: 25px"> Select appropriate propagation methods such as seeds, cuttings, grafting, or tissue culture, depending on the plant species. Follow specific protocols for each propagation method to ensure successful plant establishment.
</p>
<h3 style="font-size: 30px">5.Planting</h3>
<p style="font-size: 25px">Follow proper planting techniques, including digging appropriate-sized holes, handling plant roots carefully, and ensuring proper spacing between plants. Consider the recommended depth and orientation for each plant species.</p>
<h3 style="font-size: 30px">6.Irrigation</h3>
<p style="font-size: 25px">Develop an irrigation plan based on the water requirements of your plants. Use methods such as drip irrigation, sprinklers, or soaker hoses to deliver water efficiently. Monitor soil moisture regularly and adjust irrigation accordingly.</p>
<h3 style="font-size: 30px">7.Fertilization</h3>
<p style="font-size: 25px"> Understand the nutritional requirements of your plants and develop a fertilization plan. Apply appropriate fertilizers in the right amounts and at the correct times to support plant growth and development.</p>
<h3 style="font-size: 30px">8.Pest and Disease Management</h3>
<p style="font-size: 25px">Implement integrated pest management (IPM) strategies to minimize pest and disease damage. Monitor plants regularly for signs of pests or diseases, and use cultural, biological, and chemical control methods as needed.</p>
<h3 style="font-size: 30px">9.Pruning and Training</h3>
<p style="font-size: 25px">Prune plants to promote healthy growth, improve yield, and maintain desired shapes. Train plants onto trellises, stakes, or frames to maximize space utilization and facilitate harvesting.
</p>
<h3 style="font-size: 30px">10.Harvesting</h3>
<p style="font-size: 25px">Determine the optimal stage of maturity for each crop and harvest accordingly. Follow proper harvesting techniques to minimize damage to the plants and produce.</p>
</body>
<button class="previous-button" routerLink="/introduction">Previous</button>
<button class="next-button" routerLink="/problems">Next</button>
