<!Doctype html>
<html lang="en" dir="ltr">
  <head>
    
    <title>Methods And Protocols of Horticulture</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
    <body>
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Methods And Protocols of Horticulture</label>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/introduction">Introduction</a></li>
          <li><a routerLink="/protocols">Protocols</a></li>
          <li><a routerLink="/problems">Problems</a></li>
          <li><a routerLink="/modernmethods">Modern Methods</a></li>
          <li><a routerLink="/benefits">Benefits</a></li>
          <li><a routerLink="/aboutus">About us</a></li>
        </ul>  
      </nav>
      <section></section>
    </body>
    <router-outlet></router-outlet>
</html>  